html,
body {
  width: 150px;
}

.hidden {
  display: none;
}

button[id="plant"]:hover {
  background-color: green;
}

button[id="feed"]:hover {
  background-color: orange;
}

.actionTypeBtn {
  border: none;
  width: 100%;
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
  background-color: gray;
}

.activeConfigBtn {
  background-color: cornflowerblue;
}

.options {
  display: flex;
  flex-wrap: wrap;
}

.optionsBtn {
  flex: 1 0 33%;
}


